html {
    font-size: 18px;
    background-color: lightgray;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(32, 31, 31, 0.35) 0px 7px 10px;
    background-color: white;
    width: 30%;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: left;
}

select {
    height: 40px;
}

button {
    height: 40px;
    border-radius: 10px;
    border: solid 0px white;
    background-color: limegreen;
    color: white;
}

div {
    padding-top: 50px;
}